Repository Totodore/socketioxide, pull requests merged in 2024-03, with the labels that each got.

#278 Fix extra byte in websocket binary frame on EIO v3
  engineioxide/src/transport/ws.rs
Labels: bug, engineio-v3

#260 Implement Clone for SocketRef
  socketioxide/src/handler/extract.rs
Labels: enhancement

#287 fix(engineio/socket): atomically adjacent packet requirement for binary payloads
  engineioxide/Cargo.toml
  engineioxide/src/socket.rs
  engineioxide/src/transport/polling/payload/encoder.rs
  engineioxide/src/transport/polling/payload/mod.rs
  engineioxide/src/transport/ws.rs
  socketioxide/src/handler/extract.rs
  socketioxide/src/operators.rs
  socketioxide/src/packet.rs
  socketioxide/src/socket.rs
  socketioxide/tests/concurrent_emit.rs
  socketioxide/tests/fixture.rs
Labels: bug, engineio-v3, engineio-v4
