Repository Totodore/socketioxide, pull requests merged in 2025-08, with the labels that each got.

#559 chore: backport #554 and bump engineioxide to v0.17.1
  crates/engineioxide/CHANGELOG.md
  crates/engineioxide/Cargo.toml
Labels: A-engineioxide, T-Release

#572 feat(engineio): improve `engineioxide::OpenPacket` serde impl
  Cargo.toml
  crates/engineioxide/src/packet.rs
  crates/engineioxide/src/service/parser.rs
Labels: A-engineioxide, C-Enhancement

#560 fix(engineio/v3): incorrect `NOOP` packet formating when upgrading
  crates/engineioxide/src/transport/polling/payload/mod.rs
  e2e/engineioxide/test-suites/v3.ts
  e2e/engineioxide/test-suites/v4.ts
  e2e/socketioxide/test-suites/v4.ts
  e2e/socketioxide/test-suites/v5-msgpack.ts
  e2e/socketioxide/test-suites/v5.ts
Labels: C-Bug, A-engineioxide, T-testing

#575 fix(engineio/v3): pause heartbeat while upgrading
  crates/engineioxide/src/socket.rs
  e2e/engineioxide/test-suites/v3.ts
  e2e/engineioxide/test-suites/v4.ts
Labels: C-Bug, A-engineioxide
